.pricing__restaurant {
  padding-top: 6.25rem;
}

.pricing__restaurant-container {
  max-width: 80.625rem;
  margin: 0 auto;
}

.pricing__restaurant-title {
  color: #2D6635;
  font-kerning: none;
  font-family: SVN-Optima;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.0625rem;
  margin-bottom: 2rem;
}

.pricing__restaurant-swiper {
  border-radius: 1.5rem;
}

.pricing__restaurant-slide {
  width: 100%;
  height: 33.25rem;
  border-radius: 1.5rem;
  overflow: hidden;
}

.pricing__restaurant-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pricing__restaurant-controls {
  display: flex;
  height: 1.875rem;
  padding: 0 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  border: 0.7px solid rgba(5, 10, 5, 0.10);
  background: #FFF;
  width: fit-content;
  margin: 2rem auto 0;
}

.pricing__restaurant-btn--desktop {
  width: 0.625rem;
  height: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__restaurant-btn-icon {
  width: 0.625rem;
  height: 0.625rem;
}

.pricing__restaurant-btn--mobile {
  display: none;
}

.pricing__restaurant-next {
  transform: rotate(180deg);
}

.pricing__restaurant-play {
  position: relative;
  width: 1rem;
  height: 0.625rem;
}

.pricing__restaurant-play-icon,
.pricing__restaurant-pause-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

.pricing__restaurant-play-icon {
  opacity: 0;
}

.pricing__restaurant-pause-icon {
  opacity: 1;
}

.pricing__restaurant-play.is-paused .pricing__restaurant-play-icon {
  opacity: 1;
}

.pricing__restaurant-play.is-paused .pricing__restaurant-pause-icon {
  opacity: 0;
}

.pricing__restaurant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing__restaurant .pricing__restaurant-pagination .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #B4ACA3;
  transition: background 0.3s;
  margin: 0;
}

.pricing__restaurant .pricing__restaurant-pagination .swiper-pagination-bullet-active {
  background: #2D6635;
  opacity: 0.8;
}

.pricing__restaurant .pricing__restaurant-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 0.625rem;
}

.pricing__restaurant-navigation--mobile {
  display: none;
}

.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 638.98px) {
  .pricing__restaurant {
    padding: 2.5rem 1rem 1.25rem 1rem;
  }

  .pricing__restaurant-container {
    max-width: 80.625rem;
    margin: 0 auto;
  }

  .pricing__restaurant-title {
    text-align: center;
    font-size: 2rem;
    letter-spacing: -0.04rem;
    margin-bottom: 1.75rem;
  }

  .pricing__restaurant-swiper {
    border-radius: 0.39881rem;
  }

  .pricing__restaurant-slide {
    width: 100%;
    height: 8.84088rem;
    border-radius: 0.39881rem;
  }

  .pricing__restaurant-controls {
    padding: 0;
    justify-content: space-between;
    gap: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
    width: 100%;
    margin: 1.25rem 0 0;
  }

  .pricing__restaurant-btn--desktop {
    display: none;
  }

  .pricing__restaurant-btn--mobile {
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    border: 0.75px solid #EDEDED;
    background: #FFF;
  }

  .pricing__restaurant-btn-icon {
    width: 0.35294rem;
    height: 0.70225rem;
    flex-shrink: 0;
  }

  .pricing__restaurant-next {
    margin-left: 0.5rem;
  }

  .pricing__restaurant-play {
    display: none;
  }

  .pricing__restaurant .pricing__restaurant-pagination {
    width: fit-content;
    height: 1.75rem;
    padding: 0 1.25rem;
    justify-content: start;
    border-radius: 2rem;
    border: 0.7px solid rgba(5, 10, 5, 0.10);
    background: rgba(212, 206, 201, 0.34);
  }
  
  .pricing__restaurant-navigation--mobile {
    display: flex;
    align-items: center;
  }
}