@font-face {
    font-family: 'SVN-Optima';
    src: url('SVN-Optima-Regular.woff2') format('woff2'),
        url('SVN-Optima-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Optima';
    src: url('SVN-Optima-Medium.woff2') format('woff2'),
        url('SVN-Optima-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Optima';
    src: url('SVN-Optima-DemiBold.woff2') format('woff2'),
        url('SVN-Optima-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

