@font-face {
    font-family: 'SVN-Pleasent';
    src: url('SVN-Pleasent.woff2') format('woff2'),
        url('SVN-Pleasent.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

