@font-face {
    font-family: 'SVN-Ameyallinda Signature';
    src: url('SVN-AmeyallindaSignature-Regular.woff2') format('woff2'),
        url('SVN-AmeyallindaSignature-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

